export CARGO_BUILD_TARGET="riscv32imc-esp-espidf"
export CARGO_UNSTABLE_BUILD_STD="std,panic_abort"
export CARGO_TARGET_RISCV32IMC_ESP_ESPIDF_LINKER="ldproxy"
export CARGO_TARGET_RISCV32IMC_ESP_ESPIDF_RUNNER="espflash flash --monitor --partition-table $PWD/partitionTable.csv"
export CARGO_TARGET_RISCV32IMC_ESP_ESPIDF_RUSTFLAGS="-C default-linker-libraries"
export ESP_IDF_VERSION="release/v4.4"
